<a href="https://colab.research.google.com/github/pazhalac/BIG-DATA-/blob/main/SQL_vs_Pandas_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Introducción


* Breve descripción general de Pandas y su importancia.
* Discusión sobre SQL y su relación con las operaciones de Pandas DataFrame.

# 2. Setup

In [ ]:
import sqlite3 # a module in Python's standard library that provides an interface to the SQLite database.
import pandas as pd

In [ ]:
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
titanic_data = pd.read_csv(url)

In [ ]:
conn = sqlite3.connect(':memory:')
titanic_data.to_sql('titanic', conn, index=False)

887

**sqlite3.connect()** es una función que establece una conexión a una base de datos SQLite. Cuando se proporciona el argumento ':memory:', se le indica a SQLite que cree una nueva base de datos en la RAM. La principal ventaja de utilizar una base de datos en memoria es la velocidad.

**.to_sql()** es un método proporcionado por Pandas DataFrames que le permite escribir el contenido del DataFrame en una base de datos SQL.

El primer argumento 'titanic' es el nombre de la tabla que se creará en la base de datos SQLite.

El segundo argumento conn es el objeto de conexión que creamos anteriormente. Le indica al método .to_sql() dónde crear la tabla.

El argumento index=False le indica a Pandas que no escriba el índice del DataFrame como una columna separada en la base de datos. Si omitiera este argumento, obtendría una columna adicional llamada 'index' en su tabla SQL.

Función para ejecutar las queries

In [ ]:
# Function to run querys
def run_query(query, connection=conn):
    return pd.read_sql_query(query, connection)

# 3. SQL vs. Pandas

Para **SQL** nuestra tabla se llama *titanic*

Para **pandas** nuestro df se llama *titanic_data*

In [ ]:
#Veo mis datos
titanic_data

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500



*   **Ver los nombres de 10 pasajeros**

In [ ]:
from os import name
# Usando SQL

run_query(
"""
select name
from titanic
 limit 10

"""
    )

                                                Name
0                             Mr. Owen Harris Braund
1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2                              Miss. Laina Heikkinen
3        Mrs. Jacques Heath (Lily May Peel) Futrelle
4                            Mr. William Henry Allen
5                                    Mr. James Moran
6                             Mr. Timothy J McCarthy
7                      Master. Gosta Leonard Palsson
8   Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson
9                 Mrs. Nicholas (Adele Achem) Nasser

In [ ]:
# Usando Pandas

**¿Cuántas clases diferentes hay?**

In [ ]:
# Usando SQL

run_query("""
    SELECT COUNT(DISTINCT Pclass) AS total_clases
    FROM titanic;
""")

   total_clases
0             3

In [ ]:
# Usando Pandas
!pip install pandasql
import pandas as pd
import pandasql as ps
!pip install pandasql


# Cargar dataset Titanic
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
titanic = pd.read_csv(url)

# Consulta SQL
query = """
SELECT COUNT(DISTINCT Pclass) AS total_clases
FROM titanic;
"""

# Ejecutar
result = ps.sqldf(query, locals())
print(result)

Requirement already satisfied: pandasql in /usr/local/lib/python3.12/dist-packages (0.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from pandasql) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (from pandasql) (2.0.43)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy->pandasql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy->pandasql) (4.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.17.0)
Requirement already satisfied: pandasql in /usr/local/lib/python3.12/dist-packages (0.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from pandasql) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (from pandasql) (2.0.43)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy->pandasql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy->pandasql) (4.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.17.0)
   total_clases
0             3

**Mostrar los pasajeros ordenados por edad**

In [ ]:
# Usando SQL

run_query(
"""
SELECT Name, Age, Sex, Pclass
FROM titanic
ORDER BY Age ASC;

"""
    )

                                    Name    Age     Sex  Pclass
0         Master. Assad Alexander Thomas   0.42    male       3
1               Master. Viljo Hamalainen   0.67    male       2
2           Miss. Helene Barbara Baclini   0.75  female       3
3                  Miss. Eugenie Baclini   0.75  female       3
4           Master. Alden Gates Caldwell   0.83    male       2
..                                   ...    ...     ...     ...
882                  Mr. Patrick Connors  70.50    male       3
883             Mr. George B Goldschmidt  71.00    male       1
884               Mr. Ramon Artagaveytia  71.00    male       1
885                   Mr. Johan Svensson  74.00    male       3
886  Mr. Algernon Henry Wilson Barkworth  80.00    male       1

[887 rows x 4 columns]

In [ ]:
# Usando Pandas
pasajeros_ordenados = titanic.sort_values(by="Age", ascending=True)

# Mostrar los primeros 20
print(pasajeros_ordenados[["Name", "Age", "Sex", "Pclass"]].head(20))

                               Name   Age     Sex  Pclass
799  Master. Assad Alexander Thomas  0.42    male       3
751        Master. Viljo Hamalainen  0.67    male       2
641           Miss. Eugenie Baclini  0.75  female       3
466    Miss. Helene Barbara Baclini  0.75  female       3
77     Master. Alden Gates Caldwell  0.83    male       2
827  Master. George Sibley Richards  0.83    male       2
303   Master. Hudson Trevor Allison  0.92    male       1
784       Master. Bertram Vere Dean  1.00    male       3
171     Miss. Eleanor Ileen Johnson  1.00  female       3
163     Master. Eino Viljami Panula  1.00    male       3
379               Miss. Maria Nakid  1.00  female       3
823            Master. Andre Mallet  1.00    male       2
182        Master. Richard F Becker  1.00    male       2
384  Master. Sidney Leonard Goodwin  1.00    male       3
338   Master. Edmond Roger Navratil  2.00    male       2
127                Miss. Anna Peter  2.00  female       3
476         Miss. Hildur E Hirvonen  2.00  female       3
639    Miss. Margit Elizabeth Skoog  2.00  female       3
204       Miss. Telma Matilda Strom  2.00  female       3
295     Miss. Helen Loraine Allison  2.00  female       1

**Mostrar los pasajeros que sobrevivieron**

In [ ]:
# Usando SQL

run_query(
"""
SELECT Name, Age, Sex, Pclass
FROM titanic
WHERE Survived = 1
LIMIT 20;


"""
    )

                                                 Name   Age     Sex  Pclass
0   Mrs. John Bradley (Florence Briggs Thayer) Cum...  38.0  female       1
1                               Miss. Laina Heikkinen  26.0  female       3
2         Mrs. Jacques Heath (Lily May Peel) Futrelle  35.0  female       1
3    Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson  27.0  female       3
4                  Mrs. Nicholas (Adele Achem) Nasser  14.0  female       2
5                      Miss. Marguerite Rut Sandstrom   4.0  female       3
6                             Miss. Elizabeth Bonnell  58.0  female       1
7                      Mrs. (Mary D Kingcome) Hewlett  55.0  female       2
8                         Mr. Charles Eugene Williams  23.0    male       2
9                              Mrs. Fatima Masselmani  22.0  female       3
10                               Mr. Lawrence Beesley  34.0    male       2
11                                 Miss. Anna McGowan  15.0  female       3
12                        Mr. William Thompson Sloper  28.0    male       1
13  Mrs. Carl Oscar (Selma Augusta Emilia Johansso...  38.0  female       3
14                                Miss. Ellen O'Dwyer  24.0  female       3
15      Mrs. William Augustus (Marie Eugenie) Spencer  48.0  female       1
16                            Miss. Mary Agatha Glynn  18.0  female       3
17                                    Mr. Hanna Mamee  18.0    male       3
18                         Miss. Jamila Nicola-Yarred  14.0  female       3
19            Miss. Simonne Marie Anne Andree Laroche   3.0  female       2

In [ ]:
# Usando Pandas
sobrevivientes = titanic[titanic["Survived"] == 1]

print(sobrevivientes[["Name", "Age", "Sex", "Pclass"]].head(20))

                                                 Name   Age     Sex  Pclass
1   Mrs. John Bradley (Florence Briggs Thayer) Cum...  38.0  female       1
2                               Miss. Laina Heikkinen  26.0  female       3
3         Mrs. Jacques Heath (Lily May Peel) Futrelle  35.0  female       1
8    Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson  27.0  female       3
9                  Mrs. Nicholas (Adele Achem) Nasser  14.0  female       2
10                     Miss. Marguerite Rut Sandstrom   4.0  female       3
11                            Miss. Elizabeth Bonnell  58.0  female       1
15                     Mrs. (Mary D Kingcome) Hewlett  55.0  female       2
17                        Mr. Charles Eugene Williams  23.0    male       2
19                             Mrs. Fatima Masselmani  22.0  female       3
21                               Mr. Lawrence Beesley  34.0    male       2
22                                 Miss. Anna McGowan  15.0  female       3
23                        Mr. William Thompson Sloper  28.0    male       1
25  Mrs. Carl Oscar (Selma Augusta Emilia Johansso...  38.0  female       3
28                                Miss. Ellen O'Dwyer  24.0  female       3
31      Mrs. William Augustus (Marie Eugenie) Spencer  48.0  female       1
32                            Miss. Mary Agatha Glynn  18.0  female       3
36                                    Mr. Hanna Mamee  18.0    male       3
39                         Miss. Jamila Nicola-Yarred  14.0  female       3
42            Miss. Simonne Marie Anne Andree Laroche   3.0  female       2

**Mostrar los pasajeros que no sobrevivieron y tenían menos de 30 años**

In [ ]:
# Usando SQL

run_query(
"""
SELECT Name, Age, Sex, Pclass
FROM titanic
WHERE Survived = 0 AND Age < 30
ORDER BY Age ASC;


"""
    )

                                           Name   Age     Sex  Pclass
0                   Master. Eino Viljami Panula   1.0    male       3
1                Master. Sidney Leonard Goodwin   1.0    male       3
2                 Master. Gosta Leonard Palsson   2.0    male       3
3                           Master. Eugene Rice   2.0    male       3
4              Miss. Ellis Anna Maria Andersson   2.0  female       3
..                                          ...   ...     ...     ...
300                    Mr. Lewis Richard Braund  29.0    male       3
301  Mrs. Nils (Alma Cornelia Berglund) Palsson  29.0  female       3
302                   Mr. August Viktor Larsson  29.0    male       3
303                              Mr. Dibo Elias  29.0    male       3
304                       Mr. Milton Clyde Long  29.0    male       1

[305 rows x 4 columns]

In [ ]:
# Usando Pandas

no_sobrevivieron_jovenes = titanic[(titanic["Survived"] == 0) & (titanic["Age"] < 30)]

no_sobrevivieron_jovenes = no_sobrevivieron_jovenes.sort_values(by="Age", ascending=True)

print(no_sobrevivieron_jovenes[["Name", "Age", "Sex", "Pclass"]].head(20))

                                       Name  Age     Sex  Pclass
163             Master. Eino Viljami Panula  1.0    male       3
384          Master. Sidney Leonard Goodwin  1.0    male       3
118        Miss. Ellis Anna Maria Andersson  2.0  female       3
820             Master. Urho Abraham Panula  2.0    male       3
7             Master. Gosta Leonard Palsson  2.0    male       3
295             Miss. Helen Loraine Allison  2.0  female       1
204               Miss. Telma Matilda Strom  2.0  female       3
639            Miss. Margit Elizabeth Skoog  2.0  female       3
16                      Master. Eugene Rice  2.0    male       3
372               Miss. Stina Viola Palsson  3.0  female       3
407                       Miss. Ida Lefebre  3.0  female       3
846  Master. Sigvard Harald Elias Andersson  4.0    male       3
62                     Master. Harald Skoog  4.0    male       3
170                     Master. Arthur Rice  4.0    male       3
158               Master. Thomas Henry Sage  5.0    male       3
175            Master. Henry Forbes Lefebre  5.0    male       3
809       Miss. Ebba Iris Alfrida Andersson  6.0  female       3
276                       Master. Eric Rice  7.0    male       3
884          Miss. Catherine Helen Johnston  7.0  female       3
49                Master. Juha Niilo Panula  7.0    male       3

Mostrar pasajeron que tienen entre 30 y 50 años

In [ ]:
# Usando SQL

run_query(
"""
SELECT Name, Age, Sex, Pclass
FROM titanic
WHERE Age BETWEEN 30 AND 50
ORDER BY Age;


"""
    )

                             Name   Age     Sex  Pclass
0         Mr. William John Rogers  30.0    male       3
1         Miss. Elizabeth Dowdell  30.0  female       3
2                  Mr. Harry Corn  30.0    male       3
3               Mr. Reginald Hale  30.0    male       2
4      Mr. Hans Kristensen Givard  30.0    male       2
..                            ...   ...     ...     ...
318       Mr. Richard Henry Rouse  50.0    male       3
319           Miss. Lucy Ridsdale  50.0  female       2
320     Mr. Walter Donald Douglas  50.0    male       1
321  Dr. Henry William Frauenthal  50.0    male       1
322        Mr. Henry Price Hodges  50.0    male       2

[323 rows x 4 columns]

In [ ]:
# Usando Pandas
pasajeros_30_50 = titanic[(titanic["Age"] >= 30) & (titanic["Age"] <= 50)]
print(pasajeros_30_50[["Name", "Age", "Sex", "Pclass"]].head(20))

                                                 Name   Age     Sex  Pclass
1   Mrs. John Bradley (Florence Briggs Thayer) Cum...  38.0  female       1
3         Mrs. Jacques Heath (Lily May Peel) Futrelle  35.0  female       1
4                             Mr. William Henry Allen  35.0    male       3
13                         Mr. Anders Johan Andersson  39.0    male       3
18  Mrs. Julius (Emelia Maria Vandemoortele) Vande...  31.0  female       3
20                                Mr. Joseph J Fynney  35.0    male       2
21                               Mr. Lawrence Beesley  34.0    male       2
25  Mrs. Carl Oscar (Selma Augusta Emilia Johansso...  38.0  female       3
30                            Don. Manuel E Uruchurtu  40.0    male       1
31      Mrs. William Augustus (Marie Eugenie) Spencer  48.0  female       1
35                      Mr. Alexander Oskar Holverson  42.0    male       1
40      Mrs. Johan (Johanna Persdotter Larsson) Ahlin  40.0  female       3
44                            Mr. William John Rogers  30.0    male       3
51            Mrs. Henry Sleeper (Myna Haxtun) Harper  49.0  female       1
54                                   Mr. Hugh Woolner  46.0    male       1
60                                 Miss. Amelie Icard  38.0  female       1
61                         Mr. Henry Birkhardt Harris  45.0    male       1
69                          Mr. Stephen Curnow Jenkin  32.0    male       2
73                                       Mr. Lee Bing  32.0    male       3
78                            Miss. Elizabeth Dowdell  30.0  female       3

**¿Cuántos pasajeros se llaman 'John'?**

In [ ]:
# Usando SQL

run_query(
"""
SELECT COUNT(*) AS cantidad
FROM titanic
WHERE Name LIKE '%John%';

"""
    )

   cantidad
0        52

In [ ]:
# Usando Pandas
cantidad_john = titanic["Name"].str.contains("John", case=False, na=False).sum()
print("Cantidad de pasajeros llamados John:", cantidad_john)

Cantidad de pasajeros llamados John: 52